@{
    ViewBag.Title = "Task2 - Каталог";
    ViewBag.Header = "Каталог";
    ViewBag.ButtonTitle = "Добавить";
    ViewBag.ButtonController = "Home";
    ViewBag.ButtonAction = "Add";
}

<h2>Каталог загруженных файлов @ViewBag.BillTypes</h2>
<div class="list-group list-group-flush">
    @if (ViewBag.Files.Length == 0)
    {
        <p>В базе данных нет файлов</p>
    }
    else
    {
        @foreach (var file in ViewBag.Files)
        {
            <a class="list-group-item list-group-item-action"
               asp-controller="File"
               asp-action="Show">
                @file.Name
            </a>
        }
    }
</div>